@media only screen and (min-width:768px) {
  .navMenuIcon {display:none;}
  #topNav {
    height: auto;
    width: 100%;
    padding-top: 0;
    opacity: 1;
  }
  .topNavShrink{top: -64px;}
  nav a{float: left;}
  #navContact {float: right;}
}

nav {
  background-color: #DB5F8E;
  height: 100%;
  width: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  padding-top: 4em;
  transition: 0.3s;
  opacity: 0;
}
nav a{
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1em;
  padding: 1em 1em;
  display: block;
}
nav :hover {
  background-color: #FFFFFF;
  color: #DB5F8E;
}
.sideNav {
  width: 50%; 
  opacity: 1;
  top: 0px !important; /*JS topNavShrink() use inline style to change top attr*/
}

.navMenuIcon {
  padding: 5px 0px 0px 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
}
#bar1, #bar2, #bar3 {
  width: 30px;
  height: 5px;
  margin: 6px 0;
  transition: 0.3s;
  background-color: black;
}
.change #bar1{transform: translate(0, 11px) rotate(-45deg);}
.change #bar2 {opacity: 0;}
.change #bar3 {transform: translate(0, -11px) rotate(45deg);}