/* 
Pink(main): #DB5F8E
Pink(sec): #DD78A6
Cool Gray: #DDDDDD 
Gray: #898989 

Engineer 
Red: #941114
Red(dark): #92141a
*/

* {
  box-sizing: border-box;
}

.navBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #DB5F8E;
}

.navBar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: 0.3s;
  color: #FFFFFF;
}

.navBar a:hover {
  background-color: #FFFFFF;
  color: #DB5F8E;
}

#navCloseButton{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (min-width: 768px){
.navBar {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  padding-top: 0px;
  transition: 0.5s;
  background-color: #DB5F8E;
  }
.navBar a{
  float: left;
  text-align: center;
  padding: 16px 18px;
}
#contactNav{float: right;} 
#navCloseButton{display:none;}
#navOpenButton{display: none;}
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background-color: #898989;
  padding: 128px 10%;
}

.welcome{
  color: white;
  padding: 0px 0px 0px 10%;
  font-family: Pattaya;
  font-size: clamp(2.5em,8vw,6em);
}

.university{
  padding: 50px 0px 0px 0px;
  font-family: Kanit,Prompt,Pridi;
  font-size: clamp(0.8em,3vw,2em);
}



