/* 
Pink(main): #DB5F8E
Pink(sec): #DD78A6
Cool Gray: #DDDDDD
Gray: #898989

Engineer 
Red: #941114
Red(dark): #92141a
Interesting: #541c30
*/
/* * {box-sizing: border-box;} */

body {
  margin: 0;
  font-family: Kanit,Pridi,Helvetica,Arial;
}

header {
  height: 100vh;
  background-color: #898989; 
  color: white;
}
header .headerText{
  padding-top: 10vh;
  padding-left: 5vw;
}
header h1{
  padding-left: 10vw;
  font-size: clamp(6vh,12vw,15vh);
  margin-block: 0;
  margin-inline: 0;
  font-weight: normal;
  font-family: Pattaya;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}
.headerText2{
  padding: 10vh 0 20vh 0;
  font-size: clamp(2vh,4vw,5vh);
}
.headerText2 p{
  margin: 0;
  opacity: 0;
  animation: fadeInLeft 1s forwards;
  animation-delay: calc(var(--order)*200ms);
}

.bio{padding: 32px 5%; background-color: black;}
#bioImg{display: none;}
#personalRecord{
  color:white;
  text-align: center;
  font-family: Pattaya;
  font-size: clamp(1.5em,7vw,5em);
  margin: 0;
}
.myInfo{
  color: white;
  padding-left:10%;
}


@media only screen and (min-width: 768px){
.bio{padding: 50px 5%;}
#bioImg{display: initial;}
.myInfo{padding-left:60%;}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}