/* GlobalNavigation (Footer + TopNav) */
:root {
  --navBgColor: #DD78A6;
  --navTextColor : white;
}
:root[data-theme="dark"]{
  --bgColor : black;
  --textColor : #F1F1F1;
  --navBgColor: #DB5F8E;
}
footer,nav {background-color: var(--navBgColor);}
nav a , footer .navLink a{
  color: var(--navTextColor);
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 2em;
  padding: 0px 0.5em;
}


/* TopNavigation */
nav.topNavShrink {top: -8vh;}

nav {
  height: 8vh;
  line-height: 8vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 1;
}
nav a:hover{
  background-color: var(--navTextColor);
  color: var(--navBgColor);
}
nav.navOpened {
  padding-top: 10vh;
  height: 100%;
  transition: 0.3s;
} 

.topLogo {
  position: absolute;
  top:0;
  float: left;
  padding: 1vh 0.5em;
}
.navExtra,nav .navLink a {
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: none;
}
.navOpened .navLink a {float:none;display:block;padding: 2vh 0;}
.navOpened .navExtra {display:block;padding-left:2.5vw;padding-right:2.5vw;}

nav .navLanguage , nav .navLanguage a {
  float: right;
}

button {
  color:var(--TextColor);
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}
nav button:focus,nav button:visited,nav button:active{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
#darkModeMenu {padding: 1vh 0.5em;}
#darkModeMenuBG {fill: var(--bgColor)}
#darkModeMenuBG,#darkModeSelector {transition: 0.3s;}
[data-theme="dark"] #darkModeSelector{transform: translateX(50%);}
.darkModeSun {fill: white; transition: 0.3s;}
.darkModeMoon {fill: black;}
[data-theme="dark"] .darkModeMoon {fill: white;}


.navMenuIcon {
  position: absolute;
  width: 5vh;
  height: 4vh;
  top: 2vh;
  right: 2.5vw;
}
.navMenuIcon div {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 15%;
  transition: 0.3s;
}
#MenuIconBar1 {top: 0;}
#MenuIconBar2 {top: 42.5%;}
#MenuIconBar3 {top: 85%;}
.navOpened #MenuIconBar1{top: 50%; transform: rotate(-45deg);}
.navOpened #MenuIconBar2 {opacity: 0;}
.navOpened #MenuIconBar3 {top: 50%; transform:rotate(45deg);}

@media only screen and (min-width:768px) {
  #topNav {padding-top: 0; height: 8vh;}
  nav .topLogo {position: static;}
  #topNav a {
    display: inline;
    font-size: 0.9em;
  }
  #topNav .navLink a {float: left;}
  #topNav #navAbout {float: right;}
  .navExtra {
    height: 8vh;
  }
  #topNav .navExtra{display: block; float: right;}
  #topNav .navExtra , #topNav .navLink a {padding: 0 0.5em;}

  [data-theme="dark"] .darkModeSun {fill: black;} 
  [data-theme="dark"] #darkModeMenu:hover .darkModeSun {fill: white;}
  
  .navMenuIcon {display: none;}
}

/* Footer Navigation */
footer {
  margin-top: 20vh;
  color: var(--TextColor);
  font-size: 0.9em;
}
footer div {padding: 1em 2.5%;}
footer .navLink a{font-size: 0.9em;}